
body,h2,p,dl,dt,dd{
  margin: 0;
  padding: 0;
}

img {
  width: 300px;
}

#wrapper {
  margin: 0 auto;
  width: 1000px;
  background: rgb(200 200 200/0.5);
}


.main_class {
  background: rgb(200 200 200/0.5);
  display: flex;
  justify-content: space-evenly;
}

#col1 {
  background: green;
  width:300px;
}

#col2 {
  background: yellow;
  width:300px;

}

#col3 {
  background: red;
  width:300px;
}