@charset "UTF-8";

body,h1,h2,h3,p {
  margin: 0;
  padding: 0;
  /* line-height: 1;  縦の余白がない、見にくいから普段使用しない   */
}

/* ----------------------------------------------------------------------------
CSSでは,区切りで複数のタグ等に同じ指定をすることができる。
今回は、使っているタグで余白が設定されているタグ全てに余白を0にする指定
---------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
CSSではユニバーサルセレクタといって全てのタグに同じ指定をするためのものが用意されている
*{
margin: 0;
padding: 0;
} 
のように*が全てのという意味になる
ただし、これは内部的に使用していないタグ含めたすべてのタグに設定するため処理が遅い
---------------------------------------------------------------------------- */

h1 {
  background: rgb(255 0 0 /0.5);
  width: 50%;
}

h2 {
  background: rgb(0 255 0/0.5);
  width: 50%;
}

/* ----------------------------------------------------
  widthを指定してもそれだけでは横に並ばない
---------------------------------------------------- */

section {
  background: rgb(0 0 255/0.5);
  padding-top: 2rem;
  /* ----------------------------------------------------
  ボックス内の最初の子要素の上に余白をとりたいときは、親要素の上パディングで空ける
  ただし、上パディングを付けてた場合、上記に書いた最初の要素の上マージンは親と共有
  しなくなる
    ↓
  上下の要素のマージンを共有することと、上記のことがあるため上マージンは使わないこと
  が多い
  ---------------------------------------------------- */
}

h3 {
  margin-top: 2rem;
}

/* ----------------------------------------------------
各ボックスの最初の要素の上マージンは親要素の上マージンとなる
---------------------------------------------------- */

h2 {
  border: 1px solid black;
  box-sizing: border-box;
}

/*  ----------------------------------------------------
初期値ではwidthはコンテンツ領域の幅を指定するものとなっているので、枠線は
widthの外側に表示される（中見出し2に枠線でる）
これをwidthの範囲を「コンテンツ+padding+border」に変更するには、
box-sizing: border-box;と指定する
スマホサイトでは枠線を%で指定するのは困難なことからwidthの内数にする方法が使われる
---------------------------------------------------- */

p:nth-child(3) {
  /* pタグはセクションタグから3番目の子 */
  border: 2px solid black;
  padding: 0 5px;
}

/*  ----------------------------------------------------
枠線を付けると上下はline-heightで隙間があるが、左右はほぼ文字と枠線がくっついて
しまうので、左右にpaddingをあけることが多い
---------------------------------------------------- */